{{> admin_bar}}
{{> flash}}

<header class="manager-header">

  {{> page_hiddens}}

  <section class="">
    <ul class="nav nav-tabs top-nav-tabs text-center">
      <li class="text-left margin-right-40">
        <img src="{{page.web}}/img/logo-tech4snow-top.png" alt="tech4snow" class="margin-top-15" />
      </li>
      <li role="presentation" class="{{#if extra.top.dashboard}} active {{/if}}">
        <a href="{{page.host}}/manager/dashboard" class="top-tab">
          <i class="fa fa-tachometer fa-2x display-block top-icon"></i>
          <span class="font-m">{{labels.dashboard}}</span>
        </a>
      </li>
      <li role="presentation" class="{{#if extra.top.web}} active {{/if}}">
        <a href="{{page.host}}/manager/news" class="top-tab">
          <i class="fa fa-globe fa-2x display-block top-icon"></i>
          <span class="font-m">{{labels.web}}</span>
        </a>
      </li>
      <li role="presentation" class="{{#if extra.top.resort}} active {{/if}}">
        <a href="{{page.host}}/manager/pois" class="top-tab">
          <i class="fa fa-tree fa-2x display-block top-icon"></i>
          <span class="font-m">{{labels.resort}}</span>
        </a>
      </li>
      <li role="presentation" class="{{#if extra.top.users}} active {{/if}}">
        <a href="{{page.host}}/manager/users" class="top-tab">
          <i class="fa fa-male fa-2x display-block top-icon"></i>
          <span class="font-m">{{labels.users}}</span>
        </a>
      </li>
      <li role="presentation" class="{{#if extra.top.customers}} active {{/if}}">
        <a href="{{page.host}}/manager/customers" class="top-tab">
          <i class="fa fa-shopping-cart fa-2x display-block top-icon"></i>
          <span class="font-m">{{labels.customers}}</span>
        </a>
      </li>

      <li role="presentation" class="pull-right text-center">
        <a href="{{page.host}}/logout" class="top-tab padding-right-0 margin-top-10">
          <i class="fa fa-power-off fa-lg display-block top-icon"></i>
          <span class="font-m">{{labels.logout}}</span>
        </a>
      </li>
      <li role="presentation" class="pull-right text-center">
        <select class="form-control language-selector dark-selector" data-language-select>
          {{#page.languages}}
            <option value="{{@root.page.host}}/language/{{this}}" {{select_equals this @root.page.language}}>{{language_name @root.labels this}}</option>
          {{/page.languages}}
        </select>
      </li>
    </ul>
  </section>
</header>
