<aside class="inner-navigation">
  <ul>
    <li>
      <a href="{{page.host}}/manager/pois" class="app-navigation-button {{#if page.navigation.pois}} active {{/if}}">
        <i class="fa fa-map-marker fa-2x app-navigation-button-icon"></i>
        <span class="app-navigation-button-text"><abbr title="{{labels.pois_abrevia}}">{{labels.pois}}</abbr></span>
      </a>
    </li>
    <li>
      <a href="{{page.host}}/manager/areas" class="app-navigation-button {{#if page.navigation.areas}} active {{/if}}">
        <i class="fa fa-circle-thin fa-2x app-navigation-button-icon"></i>
        <span class="app-navigation-button-text">{{labels.areas}}</span>
      </a>
    </li>
    <li>
      <a href="{{page.host}}/manager/tracks" class="app-navigation-button {{#if page.navigation.tracks}} active {{/if}}">
        <i class="fa fa-road fa-2x app-navigation-button-icon"></i>
        <span class="app-navigation-button-text">{{labels.tracks}}</span>
      </a>
    </li>
    <li>
      <a href="{{page.host}}/manager/facilities" class="app-navigation-button {{#if page.navigation.facilities}} active {{/if}}">
        <i class="fa fa-map-signs fa-2x app-navigation-button-icon"></i>
        <span class="app-navigation-button-text"><abbr title="{{labels.facilities_abrevia}}">{{labels.facilities}}</abbr></span>
      </a>
    </li>
    <li>
      <a href="{{page.host}}/manager/settings" class="app-navigation-button {{#if page.navigation.settings}} active {{/if}}">
        <i class="fa fa-cogs fa-2x app-navigation-button-icon"></i>
        <span class="app-navigation-button-text">{{labels.settings}}</span>
      </a>
    </li>
  </ul>
</aside>
