<aside class="inner-navigation">
  <ul>
    <li>
      <a href="{{page.host}}/manager/news" class="app-navigation-button {{#if page.navigation.pois}} active {{/if}}">
        <i class="fa fa-map-marker fa-2x app-navigation-button-icon"></i>
        <span class="app-navigation-button-text"><abbr title="{{labels.pois_abrevia}}">{{labels.pois}}</abbr></span>
      </a>
    </li>
    <li>
      <a href="{{page.host}}/manager/pages" class="app-navigation-button {{#if page.navigation.areas}} active {{/if}}">
        <i class="fa fa-map fa-2x app-navigation-button-icon"></i>
        <span class="app-navigation-button-text">{{labels.areas}}</span>
      </a>
    </li>
    <li>
      <a href="{{page.host}}/manager/labels" class="app-navigation-button {{#if page.navigation.tracks}} active {{/if}}">
        <i class="fa fa-road fa-2x app-navigation-button-icon"></i>
        <span class="app-navigation-button-text">{{labels.tracks}}</span>
      </a>
    </li>
    <li>
      <a href="{{page.host}}/manager/labels" class="app-navigation-button {{#if page.navigation.facilities}} active {{/if}}">
        <i class="fa fa-home fa-2x app-navigation-button-icon"></i>
        <span class="app-navigation-button-text">{{labels.facilities}}</span>
      </a>
    </li>
  </ul>
</aside>
