<aside class="inner-navigation">
  <ul>
    <li>
      <a href="{{page.host}}/manager/news" class="app-navigation-button {{#if page.navigation.news}} active {{/if}}">
        <i class="fa fa-newspaper-o fa-2x app-navigation-button-icon"></i>
        <span class="app-navigation-button-text">{{labels.news}}</span>
      </a>
    </li>
    <li>
      <a href="{{page.host}}/manager/pages" class="app-navigation-button {{#if page.navigation.pages}} active {{/if}}">
        <i class="fa fa-file-text fa-2x app-navigation-button-icon"></i>
        <span class="app-navigation-button-text">{{labels.pages}}</span>
      </a>
    </li>
    <li>
      <a href="{{page.host}}/manager/media" class="app-navigation-button {{#if page.navigation.media}} active {{/if}}">
        <i class="fa fa-camera-retro fa-2x app-navigation-button-icon"></i>
        <span class="app-navigation-button-text">{{labels.media}}</span>
      </a>
    </li>
    <li>
      <a href="{{page.host}}/manager/labels" class="app-navigation-button {{#if page.navigation.labels}} active {{/if}}">
        <i class="fa fa-tags fa-2x app-navigation-button-icon"></i>
        <span class="app-navigation-button-text">{{labels.labels}}</span>
      </a>
    </li>
  </ul>
</aside>
