<section class="width-container">
  <div class="inner-body">

    {{> web_left_bar}}

    <section class="search-form">
      <form method="GET" action="{{page.host}}/manager/labels/search" class="margin-bottom-20">
        <div class="input-group search-box">
          <input type="text" name="s" class="form-control border-none" placeholder="{{labels.do_search}}">
          <span class="input-group-btn">
            <button class="btn btn-blank" type="submit">
              <i class="fa fa-search fa-lg"></i>
            </button>
          </span>
        </div>

        {{#if data.search}}
        <div class="search-filter">
          {{labels.search_results_for}}: <strong>{{data.search}}</strong>
          <a href="{{page.host}}/manager/labels" class="pull-right">
            <i class="fa fa-times fa-lg"></i>
          </a>
        </div>
        {{/if}}

      </form>
    </section>

    <div class="search-padding">
      <div class="padding-top-10 padding-left-15 padding-right-20">
        <form method="POST" data-form data-model="labels"
          {{#if data.labels.id}}
            action="{{page.host}}/manager/labels/{{data.labels.id}}/save"
          {{else}}
            action="{{page.host}}/manager/labels/new"
          {{/if}}>
          <header class="navbar-form navigation-bar width-container" role="">
            <div class="width-container">
              <a href="{{page.host}}/manager/labels" class="pull-left">
                <i class="fa fa-angle-left fa-3x return-back"></i>
              </a>
              <h1 class="page_title pull-left">
                {{#if data.labels.id}}
                  {{get_translation @root.data.label_translations page.language 'name'}}
                {{else}}
                  {{labels.new_label}}
                {{/if}}
              </h1>
              <nav class="pull-right">
                {{#if data.labels.id}}
                <a href="{{page.host}}/manager/labels/{{data.labels.id}}/delete" class="btn btn-cancel margin-right-8">
                  <i class="fa fa-trash-o fa-lg cancel-icon"></i> {{labels.delete}}
                </a>
                {{/if}}
                <button type="submit" class="btn btn-default">
                  <i class="fa fa-floppy-o fa-lg"></i> {{labels.save}}
                </button>
              </nav>
            </div>
          </header>

          <input type="hidden" name="id" value="{{data.labels.id}}" data-field />

          <div class="width-container margin-top-10">
            <section class="content-body">

              <div class="row margin-bottom-15">
                <div class="col-md-6">
                  <label for="identifier" class="">{{labels.identifier}}</label>
                  <input type="text" maxlength="40" name="identifier" id="identifier" class="form-control" value="{{data.labels.identifier}}" data-required data-field />
                </div>
                <div class="col-md-6">
                  <label for="parent" class="">{{labels.label_parent}}</label>
                  <select class="form-control" id="parent" name="parent_id" data-field>
                    <option value="NULL">{{labels.none}}</option>
                    {{#data.other_labels}}
                      <option value="{{labels.id}}" {{select_equals labels.id @root.data.labels.parent_id}}>{{get_translation label_translations @root.page.language 'name'}}</option>
                    {{/data.other_labels}}
                  </select>
                </div>
              </div>

              <ul class="nav nav-tabs">
                {{#page.languages}}
                  <li role="presentation" class="{{equals @index 0 'active'}}">
                    <a href="#" data-tab="{{this}}">
                      {{language_name @root.labels this}}
                    </a>
                  </li>
                {{/page.languages}}
              </ul>

              {{#page.languages}}
                <div class="row language-content" data-content="{{this}}" data-row data-model="label_translations" data-fk="language" data-fk-value="{{this}}">

                  <input type="hidden" name="id" value="{{get_translation @root.data.label_translations this 'id'}}" data-field />

                  <div class="col-xs-12 margin-top-20">
                    <label for="name">{{@root.labels.page_title}} ({{language_name @root.labels this}})</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="{{@root.labels.name}}" value="{{get_translation @root.data.label_translations this 'name'}}" data-field />
                  </div>
                  <div class="col-xs-12 margin-top-20">
                    <label for="description">{{@root.labels.content}} ({{language_name @root.labels this}})</label>
                    <textarea class="form-control height-200" id="description" name="description" placeholder="{{@root.labels.description}}" data-field>{{@root.data.content}}{{get_translation @root.data.label_translations this 'description'}}</textarea>
                  </div>
                </div>
              {{/page.languages}}

            </section>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<script src="{{page.web}}/js/singular/form.js?{{page.version}}"></script>
