<section class="width-container">
  <div class="inner-body">

    {{> web_left_bar}}

    <section class="search-form">
      <form method="GET" action="{{page.host}}/manager/media/search" class="margin-bottom-20">
        <div class="input-group search-box">
          <input type="text" name="s" class="form-control border-none" placeholder="{{labels.do_search}}">
          <span class="input-group-btn">
            <button class="btn btn-blank" type="submit">
              <i class="fa fa-search fa-lg"></i>
            </button>
          </span>
        </div>

        {{#if data.search}}
        <div class="search-filter">
          {{labels.search_results_for}}: <strong>{{data.search}}</strong>
          <a href="{{page.host}}/manager/media" class="pull-right">
            <i class="fa fa-times fa-lg"></i>
          </a>
        </div>
        {{/if}}

      </form>
    </section>

    <div class="search-padding">
      <div class="padding-top-10 padding-left-15 padding-right-20">
        <header class="navbar-form navigation-bar" role="">
          <div class="">
            {{#if data.node.media.id}}
            <a {{#if data.node.media.parent}} href="{{page.host}}/manager/media/{{data.node.media.parent}}" {{else}} href="{{page.host}}/manager/media" {{/if}} class="pull-left">
              <i class="fa fa-angle-left fa-3x return-back"></i>
            </a>
            {{/if}}
            <h1 class="page_title pull-left">
              {{#if data.node.media.title}}
                {{data.node.media.title}}
              {{else}}
                {{labels.media}}
              {{/if}}
            </h1>
            <nav class="pull-right">
              <button class="btn btn-default" data-toggle="modal" data-target="#new_folder">
                <i class="fa fa-folder-open-o"></i> {{labels.new_folder}}
              </button>
            </nav>
          </div>
        </header>

        <div class="">
          <section class="content-body">
            <section class="row margin-top-30 margin-bottom-30 media-container">
              {{#data.results}}
                <div class="col-md-2 margin-bottom-30 text-center">
                  <header class="media-header">
                    <nav>
                      <ul>
                        <li>
                          <a href="javascript:void(0)">
                            <i class="fa fa-pencil fa-lg"></i>
                          </a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">
                            <i class="fa fa-trash-o fa-lg"></i>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </header>
                  <a href="{{@root.page.host}}/manager/media/{{media.id}}" class="display-block width-80 margin-0-auto">
                    {{#if media.is_folder}}
                      <img src="{{@root.page.web}}/img/files/folder.png" alt="{{media.title}}" class="media-file" />
                    {{else}}
                      <img src="{{@root.page.web}}/img/files/{{media.extension}}.png" alt="{{media.title}}" class="media-file" />
                    {{/if}}
                  </a>
                  <form method="POST" action="{{@root.page.host}}/manager/media/{{media.id}}/rename">
                    <textarea name="name" class="margin-top-10 media-name" data-rename>{{media.title}}</textarea>
                  </form>
                </div>
              {{/data.results}}
            </section>

            <nav class="pagination-selector">
              {{#if data.search}}
              <a {{#if data.previous}} href="{{page.host}}/manager/media/search/page/{{data.previous}}?s={{data.search}}" {{else}} href="javascript:void(0)" {{/if}}
              {{else}}
              <a {{#if data.previous}} href="{{page.host}}/manager/media/page/{{data.previous}}" {{else}} href="javascript:void(0)" {{/if}}
              {{/if}}
                class="pagination-link previous {{#unless data.previous}} disabled {{/unless}}" {{#unless data.previous}} disabled {{/unless}}>
                <i class="fa fa-angle-left fa-2x page-before"></i>
              </a>
              <span class="pagination-page">
                {{labels.page}} {{data.page}} {{labels.out_of}} {{data.count}}
              </span>
              {{#if data.search}}
              <a {{#if data.next}} href="{{page.host}}/manager/media/search/page/{{data.next}}?s={{data.search}}" {{else}} href="javascript:void(0)" {{/if}}
              {{else}}
              <a {{#if data.next}} href="{{page.host}}/manager/media/page/{{data.next}}" {{else}} href="javascript:void(0)" {{/if}}
              {{/if}}
                class="pagination-link next {{#unless data.next}} disabled {{/unless}}" {{#unless data.next}} disabled {{/unless}}>
                <i class="fa fa-angle-right fa-2x page-after"></i>
              </a>
            </nav>

          </section>
        </div>
      </div>
    </div>
  </div>
</section>
