<section class="width-container">
  {{> web_left_bar}}

  <div class="inner-body">
    <header class="navbar-form navigation-bar" role="">
      <div class="">
        <h1 class="page_title pull-left">{{labels.news}}</h1>
        <nav class="pull-right">
          <a href="{{page.host}}/manager/news/new" class="btn btn-default">{{labels.new_news}}</a>
        </nav>
      </div>
    </header>

    <div class="">
      <section class="content-body">
        <form method="GET" action="{{page.host}}/manager/news/search" class="margin-bottom-20">
          <div class="input-group search-box">
            <input type="text" name="s" class="form-control border-none" placeholder="{{labels.do_search}}">
            <span class="input-group-btn">
              <button class="btn btn-blank" type="submit">
                <i class="fa fa-search fa-lg"></i>
              </button>
            </span>
          </div>

          {{#if data.search}}
          <div class="search-filter">
            {{labels.search_results_for}}: <strong>{{data.search}}</strong>
            <a href="{{page.host}}/manager/news" class="pull-right">
              <i class="fa fa-times fa-lg"></i>
            </a>
          </div>
          {{/if}}

        </form>
        <table class="table">
          <thead>
            <tr>
              <th>{{@root.labels.news}}</th>
              <th>{{@root.labels.creation_date}}</th>
              <th>{{@root.labels.labels}}</th>
            </tr>
          </thead>
          <tbody>
            {{#data.results}}
              <tr>
                <td>
                  <a href="{{@root.page.host}}/manager/news/{{informations.id}}">
                    {{get_translation information_translations @root.page.language 'title'}}
                  </a>
                </td>
                <td>
                  <a href="{{@root.page.host}}/manager/news/{{informations.id}}">
                    {{informations.creation}}
                  </a>
                </td>
                <td>
                  {{#information_labels}}
                  <a href="{{@root.page.host}}/manager/news/{{informations.id}}" class="label font-s">
                    {{get_translation label_translations @root.page.language 'name'}}
                  </a>
                  {{/information_labels}}
                </td>
              </tr>
            {{/data.results}}
          </tbody>
        </table>

        <nav class="pagination-selector">
          {{#if data.search}}
          <a {{#if data.previous}} href="{{page.host}}/manager/news/search/page/{{data.previous}}?s={{data.search}}" {{else}} href="javascript:void(0)" {{/if}}
          {{else}}
          <a {{#if data.previous}} href="{{page.host}}/manager/news/page/{{data.previous}}" {{else}} href="javascript:void(0)" {{/if}}
          {{/if}}
            class="pagination-link previous {{#unless data.previous}} disabled {{/unless}}" {{#unless data.previous}} disabled {{/unless}}>
            <i class="fa fa-caret-left"></i>
          </a>
          <span class="pagination-page">
            {{data.page}}
          </span>
          {{#if data.search}}
          <a {{#if data.next}} href="{{page.host}}/manager/news/search/page/{{data.next}}?s={{data.search}}" {{else}} href="javascript:void(0)" {{/if}}
          {{else}}
          <a {{#if data.next}} href="{{page.host}}/manager/news/page/{{data.next}}" {{else}} href="javascript:void(0)" {{/if}}
          {{/if}}
            class="pagination-link next {{#unless data.next}} disabled {{/unless}}" {{#unless data.next}} disabled {{/unless}}>
            <i class="fa fa-caret-right"></i>
          </a>
        </nav>

      </section>
    </div>
  </div>
</section>
