<form method="POST" data-form data-model="nopois"
  {{#if data.nopois.id}}
    action="{{page.host}}/manager/nopois/{{data.nopois.id}}/save"
  {{else}}
    action="{{page.host}}/manager/nopois/nopoi"
  {{/if}}>
  <header class="navbar-form navigation-bar width-container" role="">
    <div class="width-container">
      <a href="{{page.host}}/manager/nopois" class="pull-left">
        <i class="fa fa-angle-left fa-3x return-back"></i>
      </a>
      <h1 class="page_title pull-left">
        {{#if data.nopois.id}}
          {{get_translation @root.datano.poi_translations page.language 'title'}}
        {{else}}
          {{labels.new_nopois}}
        {{/if}}
      </h1>
      <nav class="pull-right">
        {{#if data.nopois.id}}
        <a href="{{page.host}}/manager/nopois/{{data.nopois.id}}/delete" class="btn btn-cancel margin-right-8">
          <i class="fa fa-trash-o fa-lg cancel-icon"></i> {{labels.delete}}
        </a>
        {{/if}}
        <button type="submit" class="btn btn-default">
          <i class="fa fa-floppy-o fa-lg"></i> {{labels.save}}
        </button>
      </nav>
    </div>
  </header>

  <input type="hidden" name="id" value="{{data.nopois.id}}" data-field />

  <div class="width-container">
    <section class="content-body">

      <div class="row">
        <div class="col-xs-12 margin-bottom-20">
          URL:
          <a href="{{page.host}}/{{page.language}}/nopois/{{data.nopois.id}}/{{get_translation @root.data.nopoi_translations page.language 'path'}}" target="_blank">
            {{page.host}}/{{page.language}}/nopois/{{data.nopois.id}}/{{get_translation @root.data.nopoi_translations page.language 'path'}}
          </a>
        </div>
      </div>
       <div class="row">
        <div class="col-xs-4 margin-bottom-20">
          <label for="coordenadas">{{labels.coordenada}}:</label>
          <input type="text" name="coordinates" class="form-control" value="{{data.nopois.coordinates}}" data-field />
          <label for="tipo">{{labels.tipo}}:</label>
          <input type="text" name="tipo" class="form-control" value="{{data.nopois.tipo}}" data-field />
          <label for="urlinfo">{{labels.urlinfo}}:</label>
          <input type="text" name="url_info" class="form-control" value="{{data.nopois.url_info}}" data-field />
        </div>
        <div class="col-xs-4 margin-bottom-20">
          <label for="timeofyear">{{labels.timeofyear}}:</label>
          <input type="text" name="timeofyear" class="form-control" value="{{data.nopois.timeofyear}}" data-field />
          <label for="resortreference"> {{labels.resortreference}}:</label>
          <input type="text" name="resortreference" class="form-control" value="{{data.nopois.resortreference}}" data-field />
          <label for="occupancy">{{labels.occupancy}}:</label>
          <input type="text" name="occupancy" class="form-control" value="{{data.nopois.occupancy}}" data-field />
        </div>
        <div class="col-xs-4 margin-bottom-20">
          <label for="duration">{{labels.duration}}:</label>
          <input type="text" name="duration" class="form-control" value="{{data.nopois.duration}}" data-field />
          <label for="heating">{{labels.heating}}:</label>
          <input type="text" name="heating" class="form-control" value="{{data.nopois.heating}}" data-field />
        </div>
      </div>
      <ul class="nav nav-tabs">
        {{#page.languages}}
          <li role="presentation" class="{{equals @index 0 'active'}}">
            <a href="#" data-tab="{{this}}">
              {{language_name @root.labels this}}
            </a>
          </li>
        {{/page.languages}}
      </ul>

      {{#page.languages}}
        <div class="row language-content" data-content="{{this}}" data-row data-model="nopoi_translations" data-fk="language" data-fk-value="{{this}}">

          <input type="hidden" name="id" value="{{get_translation @root.data.nopoi_translations this 'id'}}" data-field="id" data-field />

          <div class="col-xs-12 margin-top-20">
            <label for="title">{{@root.labels.nopoi_title}} ({{language_name @root.labels this}})</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="{{@root.labels.page_title}}" value="{{get_translation @root.data.nopoi_translations this 'title'}}" data-field />
          </div>
          <div class="col-xs-12 margin-top-20">
            <label for="title">{{@root.labels.content}} ({{language_name @root.labels this}})</label>
            <textarea class="form-control height-200" id="title" name="content" placeholder="{{@root.labels.content}}" data-field>{{@root.data.content}}{{get_translation @root.data.nopoi_translations this 'content'}}</textarea>
          </div>
        </div>
      {{/page.languages}}

      <div class="row margin-top-20 padding-bottom-10 border-bottom">
        <div class="col-xs-7 padding-top-5 title-labels">
          {{labels.labels}}
        </div>
        <div class="col-xs-5">
          <button class="btn btn-default pull-right" data-label-add="label_container" data-label-selector="label_selector">
            {{labels.add_label}}
          </button>
          <select class="form-control select-label pull-right" id="label_selector">
            <option value="" disabled selected>{{labels.select_label}}</option>
            {{#data.all_labels}}
              <option value="{{labels.id}}">{{get_translation label_translations @root.page.language 'name'}}</option>
            {{/data.all_labels}}
          </select>
        </div>
      </div>
      <div class="row margin-top-10">
        <div class="col-xs-12" id="label_container">
        </div>
      </div>

    </section>
  </div>
</form>

<script src="{{page.web}}/js/labels.js?{{page.version}}"></script>
<script src="{{page.web}}/js/singular/form.js?{{page.version}}"></script>
