<section class="width-container">
  <div class="inner-body">

    {{> resort_left_bar}}

    <div class="search-padding">
      <div class="padding-top-10 padding-left-15 padding-right-20">
        <form method="POST" data-form data-model="settings" action="{{page.host}}/manager/settings/save">
          <header class="navbar-form navigation-bar width-container" role="">
            <div class="width-container">
              <h1 class="page_title pull-left">
                {{labels.settings}}
              </h1>
              <nav class="pull-right">
              <button type="submit" class="btn btn-default">
                  <i class="fa fa-floppy-o fa-lg"></i> {{labels.save}}
                </button>
              </nav>
            </div>
          </header>

          <input type="hidden" name="id" id="id" value="{{data.settings.id}}" data-field />

          <div class="width-container">
            <section class="content-body">
               <div class="row margin-bottom-10">
                <div class="col-md-6">
                  <label for="coordenadas">{{labels.resort_name}}</label>
                  <input type="text" name="resort_name" class="form-control" value="{{data.settings.resort_name}}" data-field />
                </div>
                <div class="col-md-6">
                  <label for="coordenadas">{{labels.kilometros}}</label>
                  <input type="text" name="km" class="form-control" value="{{data.settings.km}}" data-field />
                </div>
              </div>
              <div class="row margin-top-20">
                <fieldset>
                  <div class="col-md-12">
                    <legend class="font-m margin-bottom-15">{{labels.map_settings}}</legend>
                  </div>
                  <div class="col-md-4">
                    <label for="map_latitude">{{labels.latitude}}</label>
                    <input type="text" name="map_latitude" class="form-control" value="{{data.settings.map_latitude}}" data-field />
                  </div>
                  <div class="col-md-4">
                    <label for="map_longitude">{{labels.longitude}}</label>
                    <input type="text" name="map_longitude" class="form-control" value="{{data.settings.map_longitude}}" data-field />
                  </div>
                  <div class="col-md-4">
                    <label for="zoom">{{labels.zoom}}</label>
                    <input type="text" name="map_zoom" class="form-control" value="{{data.settings.map_zoom}}" data-field />
                  </div>
                </fieldset>
              </div>
            </section>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<script src="{{page.web}}/js/labels.js?{{page.version}}"></script>
<script src="{{page.web}}/js/singular/form.js?{{page.version}}"></script>
