<input type="hidden" id="name" value="{{get_translation @root.data.track_translations page.language 'name'}}" />
<input type="hidden" id="latitude" value="{{page.settings.map_latitude}}" />
<input type="hidden" id="longitude" value="{{page.settings.map_longitude}}" />
<input type="hidden" id="zoom" value="{{page.settings.map_zoom}}" />
<input type="hidden" id="deleted" value="{{data.tracks.deleted}}" />

<section class="width-container">
  <div class="inner-body">
    {{> resort_left_bar}}

    <section class="search-form">
      <form method="GET" action="{{page.host}}/manager/tracks/search" class="margin-bottom-20">
        <div class="input-group search-box">
          <input type="text" name="s" class="form-control border-none" placeholder="{{labels.do_search}}">
          <span class="input-group-btn">
            <button class="btn btn-blank" type="submit">
              <i class="fa fa-search fa-lg"></i>
            </button>
          </span>
        </div>

        {{#if data.search}}
        <div class="search-filter">
          {{labels.search_results_for}}: <strong>{{data.search}}</strong>
          <a href="{{page.host}}/manager/tracks" class="pull-right">
            <i class="fa fa-times fa-lg"></i>
          </a>
        </div>
        {{/if}}

      </form>
    </section>

    <div class="search-padding">
      <div class="padding-top-10 padding-left-15 padding-right-20">
        <form method="POST" data-form data-model="tracks"
          {{#if data.tracks.id}}
            action="{{page.host}}/manager/tracks/{{data.tracks.id}}/save"
          {{else}}
            action="{{page.host}}/manager/tracks/new"
          {{/if}}>
          <header class="navbar-form navigation-bar width-container" role="">
            <div class="width-container">
              <a href="{{page.host}}/manager/tracks" class="pull-left">
                <i class="fa fa-angle-left fa-3x return-back"></i>
              </a>
              <h1 class="page_title pull-left">
                {{#if data.tracks.id}}
                  {{get_translation @root.data.track_translations page.language 'title'}}
                {{else}}
                  {{labels.new_tracks}}
                {{/if}}
              </h1>
              {{#if (is_false data.tracks.deleted)}}
                <nav class="pull-right">
                  {{#if data.tracks.id}}
                  <a href="{{page.host}}/manager/tracks/{{data.tracks.id}}/delete" class="btn btn-cancel margin-right-8">
                    <i class="fa fa-trash-o fa-lg cancel-icon"></i> {{labels.delete}}
                  </a>
                  {{/if}}
                  <button type="submit" class="btn btn-default">
                    <i class="fa fa-floppy-o fa-lg"></i> {{labels.save}}
                  </button>
                </nav>
              {{/if}}
            </div>
          </header>

          <input type="hidden" name="id" id="id" value="{{data.tracks.id}}" data-field />

          <div class="width-container">
            <section class="content-body">
              {{#if (is_true data.tracks.deleted)}}
              <div class="row">
                <div class="col-md-12">
                  <div class="alert alert-danger text-center overflow-hidden font-l">
                    <i class="fa fa-trash-o fa-lg vertical-align-middle pull-left margin-top-3"></i> {{labels.deleted_item}} ({{date data.tracks.deletion}})
                  </div>
                </div>
              </div>
              {{/if}}

              <div class="row margin-bottom-10">
                <div class="col-md-6">
                  <label for="identifier">{{labels.identifier}}:</label>
                  <input type="text" name="identifier" class="form-control" value="{{data.tracks.identifier}}" data-field {{#if (is_true data.tracks.deleted)}}disabled{{/if}} />
                </div>
               <div class="col-md-6">
                 <label for="timeofyear">{{labels.geometry_type}}:</label>
                 <select name="geometry_type" id="geometry_type" class="form-control" data-field {{#if (is_true data.tracks.deleted)}}disabled{{/if}}>
                   <option value="" >{{labels.select_geometry}}</option>
                   <option value="Point" {{select_equals data.tracks.geometry_type 'Point'}}>{{labels.point}}</option>
                   <option value="LineString" {{select_equals data.tracks.geometry_type 'LineString'}}>{{labels.line}}</option>
                   <option value="Polygon" {{select_equals data.tracks.geometry_type 'Polygon'}}>{{labels.polygon}}</option>
                 </select>
               </div>
              </div>

              <div class="row margin-top-10">
               <div class="col-xs-12">
                 <label for="coordinates" class="margin-0 margin-bottom-10">{{labels.coordinates}}</label>
               </div>
             </div>

             <div class="row">
               <div class="col-xs-12">
                 <div id="map" class="map" data-map="coordinates"></div>
               </div>
               <div class="col-xs-12">
                 <textarea id="coordinates" name="coordinates" class="form-control margin-top-15 height-100" data-field {{#if (is_true data.tracks.deleted)}}disabled{{/if}}>{{data.tracks.coordinates}}</textarea>
               </div>
             </div>

             <div class="row margin-bottom-15 margin-top-10">
               <div class="col-md-4">
                 <label for="element_type">{{labels.element_type}}</label>
                 <select id="element_type" name="element_type" class="form-control" data-field {{#if (is_true data.tracks.deleted)}}disabled{{/if}}>
                   {{#data.all_labels}}
                     <option value="{{labels.id}}" {{select_equals labels.id @root.data.tracks.element_type}}>{{get_translation label_translations @root.page.language 'name'}}</option>
                   {{/data.all_labels}}
                 </select>
               </div>
               <div class="col-md-4">
                 <label for="sub_type">{{labels.element_type}}</label>
                 <select id="sub_type" name="sub_type" class="form-control" data-field {{#if (is_true data.tracks.deleted)}}disabled{{/if}}>
                   {{#data.all_labels}}
                     <option value="{{labels.id}}" {{select_equals labels.id @root.data.tracks.sub_type}}>{{get_translation label_translations @root.page.language 'name'}}</option>
                   {{/data.all_labels}}
                 </select>
               </div>
               <div class="col-md-4">
                 <label for="difficulty">{{labels.difficulty}}</label>
                 <select id="difficulty" name="difficulty" class="form-control" data-field {{#if (is_true data.tracks.deleted)}}disabled{{/if}}>
                    <option value="0" {{select_equals 0 @root.data.tracks.difficulty}}>0</option>
                    <option value="1" {{select_equals 1 @root.data.tracks.difficulty}}>1</option>
                    <option value="2" {{select_equals 2 @root.data.tracks.difficulty}}>2</option>
                    <option value="3" {{select_equals 3 @root.data.tracks.difficulty}}>3</option>
                    <option value="4" {{select_equals 4 @root.data.tracks.difficulty}}>4</option>
                 </select>
               </div>
             </div>

             <div class="row margin-bottom-15 margin-top-10">
               <div class="col-md-4">
                 <label for="timeofyear">{{labels.timeofyear}}:</label>
                 <select name="time_of_year" class="form-control" data-field {{#if (is_true data.tracks.deleted)}}disabled{{/if}}>
                     <option value="all" {{select_equals data.tracks.time_of_year 'all'}}>{{labels.all}}</option>
                     <option value="winter" {{select_equals data.tracks.time_of_year 'winter'}}>{{labels.winter}}</option>
                     <option value="summer" {{select_equals data.tracks.time_of_year 'summer'}}>{{labels.summer}}</option>
                 </select>
               </div>
                <div class="col-md-4">
                  <label for="urlinfo">{{labels.urlinfo}}:</label>
                  <input type="text" name="url_info" class="form-control" value="{{data.tracks.url_info}}" data-field {{#if (is_true data.tracks.deleted)}}disabled{{/if}} />
                </div>
             </div>

             <ul class="nav nav-tabs">
               {{#page.languages}}
                 <li role="presentation" class="{{equals @index 0 'active'}}">
                   <a href="#" data-tab="{{this}}">
                     {{language_name @root.labels this}}
                   </a>
                 </li>
               {{/page.languages}}
             </ul>

             {{#page.languages}}
               <div class="row language-content" data-content="{{this}}" data-row data-model="track_translations" data-fk="language" data-fk-value="{{this}}">

                 <input type="hidden" name="id" value="{{get_translation @root.data.track_translations this 'id'}}" data-field="id" data-field />

                 <div class="col-xs-12 margin-top-20">
                   <label for="name">{{@root.labels.track_title}} ({{language_name @root.labels this}})</label>
                   <input type="text" class="form-control" id="name" name="name" placeholder="{{@root.labels.page_title}}" value="{{get_translation @root.data.track_translations this 'name'}}" data-field {{#if (is_true @root.data.tracks.deleted)}}disabled{{/if}} />
                 </div>
                 <div class="col-xs-12 margin-top-20">
                   <label for="description">{{@root.labels.description}} ({{language_name @root.labels this}})</label>
                   <textarea class="form-control height-200" id="description" name="description" placeholder="{{@root.labels.description}}" data-field {{#if (is_true @root.data.tracks.deleted)}}disabled{{/if}}>{{@root.data.description}}{{get_translation @root.data.track_translations this 'description'}}</textarea>
                 </div>
               </div>
             {{/page.languages}}

             {{#if (is_false @root.data.tracks.deleted)}}
               {{> label_selector}}
             {{/if}}

             <div class="row margin-top-10" data-model="track_labels">
               <div class="col-xs-12" id="label_container" data-model="track_labels" data-fk="track_id">
                 {{#data.track_labels}}
                   <div class="label" data-label="{{label_id}}" data-selector="label_selector" data-row="" data-model="track_labels" data-fk="track_id" data-fk-value="{{@root.data.tracks.id}}" data-name="label_id" data-value="{{id}}">
                     <input type="hidden" name="id" value="{{id}}" data-field />
                     <input type="hidden" name="deleted" value="0" data-field />
                     <span>{{get_translation label_translations @root.page.language 'name'}}</span>

                     {{#if (is_false @root.data.tracks.deleted)}}
                       <a href="javascript:void(0)" class="vertical-align-middle" data-remove-label="{{label_id}}" data-selector="label_selector">
                         <i class="fa fa-times fa-lg"></i>
                       </a>
                     {{/if}}
                   </div>
                 {{/data.track_labels}}
               </div>
             </div>

             <div class="row">
               <div class="col-md-12">
                 <h3>{{labels.other_versions}}</h3>
                 <table class="table text-center">
                   <thead>
                     <tr>
                       <th class="text-center">
                         {{labels.deleted}}
                       </th>
                       <th class="text-center">
                         {{labels.deletion}}
                       </th>
                       <th class="text-center">
                         {{labels.imported}}
                       </th>
                     </tr>
                   </thead>
                   <tbody>
                     {{#extra.other_tracks}}
                       <tr {{#if tracks.deletion}} class="line-through" {{/if}}>
                         <td>
                           <a href="{{@root.page.manager}}/tracks/{{tracks.id}}">
                             {{yes tracks.deleted @root.labels}}
                           </a>
                         </td>
                         <td>
                           <a href="{{@root.page.manager}}/tracks/{{tracks.id}}">
                             {{#if tracks.deletion}}
                               {{tracks.deletion}}
                             {{else}}
                               {{@root.labels.active_item}}
                             {{/if}}
                           </a>
                         </td>
                         <td class="font-l">
                           <a href="{{@root.page.manager}}/tracks/{{tracks.id}}">
                             {{{check tracks.imported}}}
                           </a>
                         </td>
                       </tr>
                     {{/extra.other_tracks}}
                   </tbody>
                 </table>
               </div>
             </div>
            </section>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<script src="{{page.web}}/js/labels.js?{{page.version}}"></script>
<script src="{{page.web}}/js/singular/form.js?{{page.version}}"></script>
<script src="{{page.web}}/js/map.js?{{page.version}}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDY0hBFWTPaNEztQPLHxyRiGSEsBuF8sSY&signed_in=false&callback=init"></script>
